
.wrapper {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
         user-select: none;

    .carousel-wrapper {
        overflow-x: scroll;
        scroll-behavior: smooth;

    }

    .carousel-wrapper::-webkit-scrollbar,
    .carousel-wrapper::-webkit-scrollscrobar {
        display: none;
        visibility: hidden;
    }

}